@font-face {
  font-family: 'RoundLight';
  src: url("../fonts/din-round/din-round-light.eot") format("embedded-opentype"), url("../fonts/din-round/din-round-light.woff") format("woff"), url("../fonts/din-round/din-round-light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: 'RoundBold';
  src: url("../fonts/din-round/din-round-bold.eot") format("embedded-opentype"), url("../fonts/din-round/din-round-bold.woff") format("woff"), url("../fonts/din-round/din-round-bold.ttf") format("truetype");
  font-weight: 800;
}
